<mjml>
  <mj-head>
    <mj-attributes>
      <mj-text color="#333333" />
      <mj-font name="Helvetica" />
      <!-- <mj-section background-color="#333" /> -->
    </mj-attributes>
    <mj-title>Bienvenido</mj-title>
    <mj-preview> Bienvenido a Capitan Charlie Seafood MArket &amp; kitchen</mj-preview>
  </mj-head>
  <mj-body background-color="#dddddd">
    <mj-hero padding="20px">
      <mj-image align="left" width="200px" src="https://s3.us-east-2.amazonaws.com/captaincharlie.mx/captaincharlielogo.png" alt="Captain Charlie" />
      <mj-divider border-color="#E13700" />
      
      <mj-text font-size="29px" font-weight="700" color="#222222" padding-bottom="30px">Bienvenido {{ user.first_name }} </mj-text>
      <mj-text font-size="18px" color="#9798A4" font-weight="400" line-height="27px" padding-bottom="60px">Hola Almirante,  Gracias por crear tu cuenta con Captain Charlie. Utiliza el siguiente boton para confirmar tu cuenta de email praa iniciar a disfrutar de tu cuenta con Captain Charlie </mj-text>
      <mj-text font-size="11px" color="#9798A4" font-weight="500" padding-top="30px">captaincharlie.mx</mj-text>
    </mj-hero>
  </mj-body>
</mjml>